<!-- Validation failure messages -->
<% if @scoring.errors.any? %>
  <% @scoring.errors.full_messages.each do |message| %>
    <div class="alert alert-dismissable alert-danger">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <%= message %>
    </div>
  <% end %>
<% end %>

<div class="page-header">
  <h3>Edit Scoring #<%= @scoring.id %></h3>
</div>

<div class="row">
  <div class="col-md-12">
    <form action="/update_scoring/<%= @scoring.id %>" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for cast_id -->
      <div class="form-group">
        <label for="cast_id" class="control-label">
          Cast
        </label>

        <input type="text" id="cast_id" name="cast_id" placeholder="Cast" class="form-control" value="<%= @scoring.cast_id %>">
      </div>

      <!-- Label and input for actions_id -->
      <div class="form-group">
        <label for="actions_id" class="control-label">
          Actions
        </label>

        <input type="text" id="actions_id" name="actions_id" placeholder="Actions" class="form-control" value="<%= @scoring.actions_id %>">
      </div>

      <!-- Label and input for week -->
      <div class="form-group">
        <label for="week" class="control-label">
          Week
        </label>

        <input type="text" id="week" name="week" placeholder="Week" class="form-control" value="<%= @scoring.week %>">
      </div>

      <!-- Label and input for extra1 -->
      <div class="form-group">
        <label for="extra1" class="control-label">
          Extra1
        </label>

        <input type="text" id="extra1" name="extra1" placeholder="Extra1" class="form-control" value="<%= @scoring.extra1 %>">
      </div>

      <!-- Label and input for extra2 -->
      <div class="form-group">
        <label for="extra2" class="control-label">
          Extra2
        </label>

        <textarea id="extra2" name="extra2" placeholder="Extra2" class="form-control" rows="3"><%= @scoring.extra2 %></textarea>
      </div>

      <button class="btn btn-warning">
        Update Scoring
      </button>
      or
      <a href="/scorings/<%= @scoring.id %>">Cancel</a>
    </form>
  </div>
</div>
