<!-- Validation failure messages -->
<% if @action.errors.any? %>
  <% @action.errors.full_messages.each do |message| %>
    <div class="alert alert-dismissable alert-danger">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <%= message %>
    </div>
  <% end %>
<% end %>

<div class="page-header">
  <h3>Edit Action #<%= @action.id %></h3>
</div>

<div class="row">
  <div class="col-md-12">
    <form action="/update_action/<%= @action.id %>" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for play -->
      <div class="form-group">
        <label for="play" class="control-label">
          Play
        </label>

        <textarea id="play" name="play" placeholder="Play" class="form-control" rows="3"><%= @action.play %></textarea>
      </div>

      <!-- Label and input for point_value -->
      <div class="form-group">
        <label for="point_value" class="control-label">
          Point value
        </label>

        <input type="text" id="point_value" name="point_value" placeholder="Point value" class="form-control" value="<%= @action.point_value %>">
      </div>

      <!-- Label and input for extra1 -->
      <div class="form-group">
        <label for="extra1" class="control-label">
          Extra1
        </label>

        <input type="text" id="extra1" name="extra1" placeholder="Extra1" class="form-control" value="<%= @action.extra1 %>">
      </div>

      <!-- Label and input for extra2 -->
      <div class="form-group">
        <label for="extra2" class="control-label">
          Extra2
        </label>

        <textarea id="extra2" name="extra2" placeholder="Extra2" class="form-control" rows="3"><%= @action.extra2 %></textarea>
      </div>

      <button class="btn btn-warning">
        Update Action
      </button>
      or
      <a href="/actions/<%= @action.id %>">Cancel</a>
    </form>
  </div>
</div>
