<!-- Validation failure messages -->
<% if @cast.errors.any? %>
  <% @cast.errors.full_messages.each do |message| %>
    <div class="alert alert-dismissable alert-danger">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <%= message %>
    </div>
  <% end %>
<% end %>

<div class="page-header">
  <h3>Add Cast</h3>
</div>

<div class="row">
  <div class="col-md-12">
    <form action="/create_cast" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for name -->
      <div class="form-group">
        <label for="name" class="control-label">
          Name
        </label>

        <input type="text" id="name" name="name" placeholder="Name" class="form-control" value="<%= @cast.name %>">
      </div>

      <!-- Label and input for bio -->
      <div class="form-group">
        <label for="bio" class="control-label">
          Bio
        </label>

        <textarea id="bio" name="bio" placeholder="Bio" class="form-control" rows="3"><%= @cast.bio %></textarea>
      </div>

      <!-- Label and input for image -->
      <div class="form-group">
        <label for="image" class="control-label">
          Image
        </label>

        <input type="text" id="image" name="image" placeholder="Image" class="form-control" value="<%= @cast.image %>">
      </div>

      <!-- Label and input for points -->
      <div class="form-group">
        <label for="points" class="control-label">
          Points
        </label>

        <input type="text" id="points" name="points" placeholder="Points" class="form-control" value="<%= @cast.points %>">
      </div>

      <!-- Label and input for extra1 -->
      <div class="form-group">
        <label for="extra1" class="control-label">
          Extra1
        </label>

        <input type="text" id="extra1" name="extra1" placeholder="Extra1" class="form-control" value="<%= @cast.extra1 %>">
      </div>

      <!-- Label and input for extra2 -->
      <div class="form-group">
        <label for="extra2" class="control-label">
          Extra2
        </label>

        <textarea id="extra2" name="extra2" placeholder="Extra2" class="form-control" rows="3"><%= @cast.extra2 %></textarea>
      </div>

      <button class="btn btn-success">
        Create Cast
      </button>
      or
      <a href="/casts">Cancel</a>
    </form>
  </div>
</div>
